*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato';
    font-size: 16px;
    background: #fff;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* *** HEADER *** */

header {
    width: 100%;
    background-image: url(../img/portada.png); /* imagen de fondo */
    background-repeat: no-repeat; /* Para que no se repita la imagen*/
    background-position: center;
    /*background-size: cover; /* La imagen se escala*/
}

header .menu {
    /* text-align: right; lo reemplazaré por Flexbox*/ 
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

header .menu a {
    display: inline-block;
    padding: 15px 10px;
    font-size: 24px;
    text-decoration: 18px;
    color: #fff;
    font-weight: 300;
}

header .menu a:hover {
    text-decoration: underline;
}

header .contenedor-textos-header {
    margin: 150px;
    text-align: center;
}

header .contenedor-textos-header .titulo-header {
    margin-top: 325px;
    font-size: 55px;
    color: #fff;
    /* margin-bottom: 5px; */ 
}

header .contenedor-textos-header .linea {
    width: 330px;
    margin: auto;
    height: 3px;
    background: #fff;
    margin-bottom: 20px;
}

header .contenedor-textos-header .subtitulo-header {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 100px;
}

header .contenedor-textos-header .call-to-action {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #8dc7eb;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

header .contenedor-textos-header .call-to-action:hover {
    background: #8dc7eb;
    color: #fff;
}

main .acerca-de {
    background: #F0F3F5;
    padding: 45px 0;
    text-align: center;
}

main .acerca-de .contenedor-texto-acerca .titulo-acerca {
    font-size: 28px;
    font-weight: 900;
    /* color: #999999; */
    margin-bottom: 20px;
}

main .acerca-de .contenedor-texto-acerca .parrafo-acerca {
    color: #999999;
    font-weight: 600;
    margin-bottom: 20px;
}

/* *** CONTENEDORES ICONOS *** */
main .iconos {
    padding: 30px 0;
}

.contenedor-iconos {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenedor-iconos .icono-individual {
    width: 33%;
    margin: 20px 0;
}

.contenedor-iconos .icono-individual h3 {
    margin: 10px 0;

}

main .portafolio {
    background: #f0f3f5;
    padding: 60px 0;
}

main .contenedor-textos-portafolio {
    text-align: center;
}

main .contenedor-textos-portafolio .titulo-portafolio {
    font-weight: 900; /* especifica el peso o grueso de la letra */
    font-size: 28px;
    margin-bottom: 20px;
}

main .contenedor-textos-portafolio .parrafo-portafolio {
    font-weight: normal;
    color: #999999;
    margin-bottom: 60px;
}

main .portafolio .contenedor-portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .portafolio .contenedor-portafolio img {
    width: 32%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

main .portafolio .contenedor-portafolio img:hover {
    opacity: .6;
}

footer {
    background: #071c29;
    width: 100%;
    height: 600px;
    padding: 60px 0;
    /* background-image: url(../img/footer.png); */
}

footer .footer-textos {
    text-align: center;
    color: rgb(0, 0, 0);
}

footer .footer-textos h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 900; /* especifica el peso o grueso de la letra */
    margin-bottom: 15px;
}

footer .footer-textos .titulo-parrafo {
    font-weight: 300; /* especifica el peso o grueso de la letra */
    color: #fff;
    margin-bottom: 45px;
}

footer .formulario {    
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

footer .formulario .nombre-contacto, footer .formulario .nombre-correo, footer .formulario .mensaje {
    display: inline-block;    
    padding: 15px 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-family: 'lato';
    font-weight: 300;
    font-size: 14px;
}
::placeholder {
    color: #fff;
    opacity: .6;
}

footer .formulario .mensaje {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

footer .formulario .derecha {
    display: flex;
    justify-content: flex-end;
}

footer .formulario .boton-envio {
    display: inline-block;
    padding: 15px 10px;
    background: none;
    border: 1px solid #15a4fa;
    color: #fff;
    border-radius: 3px;
}

footer .formulario .boton-envio:hover {
    background: #15a4fa;
    color: #fff;
    cursor: pointer;
}